.with-avatar{
  display: flex;
  align-items: center;
}

.with-avatar span {
  margin-left: 10px;
}

.no-contacts-msg {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 15px 0px;
  font-weight: 400;
}

.MuiSvgIcon-root {
  font-size: 2.5rem;
  margin: 12px;
}