
.loader-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.image-editor-wrapper {
  height: 200px;
  display: flex;
}
.image-editor-wrapper .image-editor-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.image-editor-container .img-resize-container {
  display: flex;
  justify-content: center;
  width: 50%; /*col-8*/
}
.image-editor-wrapper .preview-img-container {
  position: relative;
  padding: 0 0 0 2;
  width: 30% /*col-4*/
}

.preview-img-container .preview-image {
  width: 100%;
  border-radius: 50% 50%;
  border: 2px solid black;
}

.preview-img-container .loader-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}