.profile-head .profile-picture-container {
  height: 200px;
  justify-content: center;
  display: flex;
}

.profile-picture-container .picture-wrapper{
  border-radius: 50% 50%;
  height:100%;
  width: 200px;
  overflow: hidden;
  position: relative;
}

.picture-wrapper:hover .edit {
  opacity: 0.50;
}

.picture-wrapper .profile-avatar{
  position:absolute;
  left:0;
  top:0;
  width:200px;
  height:200px;
}

.picture-wrapper .edit{
  background-color:black;
  opacity:0;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  transition: .5s ease;
}

.edit .edit-icon{
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  fill: white;
}