.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homepage .content-container {
  padding: 20px 0;
  background-color: lightgray;
  flex-grow: 1;
}

.homepage .header-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.header-container .search-container {
  width: 30%;
}

.search-container .add-contact-btn{
  height: 40px;

}

.header-container .add-button-container {
  margin-left: auto;
}

.add-button-container .add-contact-btn {
  height: 40px;
}

.typeahead-popper {
  z-index: 3;
  width: 369px;
}

.typeahead-popper .typeahead-avatar {
  margin-right: 5px;
}
.typeahead-popper .typeahead-text {
 text-transform: capitalize;
}